<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <!--The domain name of the catchall email address-->
    <add key="DomainName" value="morgan.games" />
    
    <!--The location of the PHP script to send emails (should be hoseted on the same domain as the catchall email address)-->
    <add key="PHPScript" value="http://www.morgan.games/sendmail.php" />

    <!--The delay between emails in seconds-->
    <add key="Delay" value="1" />

    <!--The number of emails to send-->
    <add key="Count" value="1000" />

    <!--The delay between emails in seconds-->
    <add key="LogEmail" value="morganicfruit@gmail.com" />

    <!--The discord notification webhook-->
    <add key="DiscordWebhook" value="10" />

    <!--The email address to send to-->
    <add key="SendEmail" value="morganicfruit@gmail.com" />
  </appSettings>
</configuration>